In [176]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [177]:
df = pd.read_csv('data/df.csv', index_col=0)
cidades = pd.read_csv('data/cidades.csv', index_col=0)

In [178]:
df.rename(columns={'id_municipio_nascimento': 'id_municipio'}, inplace=True)

In [179]:
idMunicipios = cidades['id_municipio'].to_list()
flt = df['id_municipio'].isin(idMunicipios)
df = df[flt]

df['id_municipio'] = df['id_municipio'].astype('int')
df['id_municipio'] = df['id_municipio'].astype('str')

In [180]:
cidades['id_municipio'] = cidades['id_municipio'].astype(int)
cidades['id_municipio'] = cidades['id_municipio'].astype(str)

In [181]:
df = df.merge(cidades[['id_municipio', 'nome_municipio']], on='id_municipio', how='left')

In [182]:
# drop duplicate rows
df = df.drop_duplicates()

In [183]:
df = df.dropna(subset=['apgar1'])
flt = df['apgar1'] > 10
df = df[~flt]

# replace values with more descriptive ones
df = df.replace({'sexo': {1: 'Masculino', 2: 'Feminino', 'M': 'Masculino', 'F': 'Feminino'},
                 'raca_cor': {1: 'Branca', 2: 'Preta', 3: 'Amarela', 4: 'Parda', 5: 'Indígena', 
                              9: 'Ignorado'},
                 'gestacao_agr': {1: 'Menos que 22 semanas', 2: '22-27 semanas', 3: '28-31 semanas', 
                                  4: '32-36 semanas', 5: '37-41 semanas', 6: 'Mais de 41 semanas', 
                                  9: 'Ignorado'},
                 'tipo_gravidez': {1: 'Única', 2: 'Gêmea', 3: 'Múltipla', 9: 'Ignorado'},
                 'tipo_parto': {1: 'Vaginal', 2: 'Cesárea', 9: 'Ignorado'},
                 'escolaridade_mae': {0: 'Sem escolaridade', 1: '4ª série do EF completa', 2: '8ª série do EF completa', 
                                      3: 'Ensino Médio completo', 4: 'Superior incompleto', 5: 'Superior completo', 
                                      9: 'Ignorado'},
                 'estado_civil_mae': {1: 'Solteira', 2: 'Casada', 3: 'Viúva', 4: 'Divorciada', 5: 'União estável', 
                                      9: 'Ignorado'},
                 'inducao_parto': {1: 'Sim', 2: 'Não', 9: 'Ignorado'},
                 'tipo_apresentacao': {1: 'Cefálica', 2: 'Pélvica', 3: 'Transversa', 9: 'Ignorado'},
                 'formacao_profissional_responsavel': {1: 'Médico', 2: 'Enfermeiro', 3: 'Técnico de enfermagem', 
                                                       4: 'Outro', 9: 'Ignorado'},
                 'formacao_profissional_responsavel': {1: 'Médico', 2: 'Enfermeiro', 3: 'Técnico de enfermagem', 
                                                       4: 'Outro', 9: 'Ignorado'},
                 'id_anomalia': {1: 'Sim', 2: 'Não', 9: 'Ignorado'},
                 'quantidade_parto_cesareo': {99: 'Ignorado'},
                 'quantidade_parto_normal': {99: 'Ignorado'}})

# make inicio_pre_natal ints where possible
df['inicio_pre_natal'] = pd.to_numeric(df['inicio_pre_natal'], errors='coerce')
df['inicio_pre_natal'] = df['inicio_pre_natal'].astype('Int64')

In [184]:
apgarMean = df.groupby(['id_municipio', 'nome_municipio', 'ano'])['apgar1'].mean().reset_index()
apgarMean['apgar1'] = apgarMean['apgar1'].round(2)

apgarMean.to_csv('data/apgar1Mean.csv', index=False)
apgarMean.to_csv('../Nascidos-Vivos-Viz/apgar1Mean.csv', index=False)

In [185]:
apgarMeanCombined = df.groupby(['id_municipio', 'nome_municipio', 'ano', 'sexo', 'raca_cor', 
                                'data_nascimento', 'tipo_parto'])['apgar1'].mean().reset_index()
apgarMeanCombined['apgar1'] = apgarMeanCombined['apgar1'].round(2)

apgarMeanCombined.to_csv('../Nascidos-Vivos-Viz/apgar1Mean_Combined.csv', index=False)

In [186]:
apgarMean.query('ano == 2020').to_csv('data/apgar1Mean_2020.csv', index=False)
apgarMean.query('ano == 2020').to_csv('../Nascidos-Vivos-Viz/apgar1Mean_2020.csv', index=False)

In [187]:
apgarMean

    id_municipio  nome_municipio   ano  apgar1
0        3300100  Angra Dos Reis  2010    8.09
1        3300100  Angra Dos Reis  2011    8.08
2        3300100  Angra Dos Reis  2012    8.16
3        3300100  Angra Dos Reis  2013    8.17
4        3300100  Angra Dos Reis  2014    8.22
..           ...             ...   ...     ...
889      3306305   Volta Redonda  2016    8.47
890      3306305   Volta Redonda  2017    8.45
891      3306305   Volta Redonda  2018    8.51
892      3306305   Volta Redonda  2019    8.42
893      3306305   Volta Redonda  2020    8.44

[894 rows x 4 columns]